@media screen and (min-width: 640px) {
	#banniere { display: none}
	figure { display: inline-block; }
	#slideshow .container {
		position:relative;
		width: 640px;
		height: 310px;
		overflow: hidden;
	}
	#slideshow {
		z-index: 1;
		position: relative;
		width: 640px;
		height: 310px;
		padding: 15px;
		border: 1px solid #ddd;
		margin: 0 auto 2em;
		background: #FFF;
		border-radius: 2px 2px 2px 2px;
		box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	}

}

@media screen and (max-width: 640px) {
	#banniere { display: block}
	figure { display: none; }
	#slideshow .container {
		display: none;
	}
	#slideshow {
		padding: 0;
		border: none;
		margin: 0;
		box-shadow: none;
	}
}


@keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

@-webkit-keyframes slider {
	0%, 20%, 100%	{ left: 0 }
	25%, 45%		{ left: -100% }
	50%, 70%		{ left: -200% }
	75%, 95%		{ left: -300% }
}

#slideshow .slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;

	animation: slider 21s infinite;
	-webkit-animation: slider 21s infinite;
}
#slideshow figure {
	position:relative;
	padding:0; margin:0;
}

#slideshow figcaption {
	position:absolute;
	padding: 20px 20px; margin:0;
	left:0; right:0; bottom: 4px;
	text-align:center;
	letter-spacing: 0.05em;
	word-spacing: 0.05em;
	font-family: Helvetica, Times, serif;
	background: #000;
	background: rgba(255,255,255,0.7);
	border-top: 1px solid rgb(225,225,225);
	color: #555;
	animation: figcaptionner 32s infinite;
}

#imgtete1 {
	position: absolute;
	width: 15%;
	margin-left: 5%;
	margin-top: 10%;
}

#imgtete2 {
	position: absolute;
	width: 15%;
	margin-left: 80%;
	margin-top: 10%;
}

.content {
	position: relative;
	display: block;
	width: 58%;
    margin-left: 20%;
    margin-bottom: 5%;
	border: 1px solid grey;
	border-radius: 10px;
    left: auto;
	padding: 13px;
	background-color: white;
    alignment: center;
}