table {
	margin-top: -15px;
	margin-left: -10px;
	border-collapse: collapse;
	width: 101.4%;
	opacity: 0.9;
}

td, th
{
	border: 1px solid dimgrey;
	width: auto;
	padding: 10px;
}

.header a {
	color: #DFDFDF;
	text-decoration: none;
}

.header td {
	border: none;
	background-color: dimgrey;
	text-align: center;
	font-family: Helvetica;
	padding: 25px;
}

h4{
	border: none;
	text-align: center;
	font-family: Helvetica;
	padding: 25px;
}

form{
	border: none;
	text-align: center;
	font-family: Helvetica;
	padding: 25px;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center 0%;
	background-size: 100% 100%;
	font-family: Helvetica;
}