.content {
	position: relative;
	display: block;
	width: 58%;
    margin-top: 3%;
    margin-left: 20%;
    margin-bottom: 5%;
	border: 1px solid grey;
	border-radius: 10px;
    left: auto;
    top: 20px;
	padding: 13px;
	background-color: white;
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Helvetica;
    margin-top: 20px;
}

#suscribe {
    margin-top: -70px;
}
input {
    margin-left: 33%;
    width: 33%;
    margin-top: 10px;
    display: block;
    alignment: center;
    background-color: #eeefff;
    padding:3px;
    border:1px solid #61c2f5;
    border-radius:5px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

input[type=submit] {
    width:20%;
    margin-left: 40%;
    margin-top: 30px;
    box-shadow:1px 1px 1px #5331d8;
    cursor:pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color:#61c2f5;
}
input[type=submit]:active, input[type=reset]:active {
    background-color:#61c2f5;
    box-shadow:1px 1px 1px #4881d8 inset;
}